<!DOCTYPE html>
<html>
  <head>
    <title>NuTube</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %> 

    <%# image URLs for React %>
    <script type="text/javascript">
      window.tubelogoURL = "<%= image_url('tubelogo.png') %>"
      window.searchlogoURL = "<%= image_url('magnifying-glass.png') %>"
      window.signinlogoURL = "<%= image_url('signinlogo.png') %>"
    </script>

    <meta charset="utf-8">


    <%# application font style %>
    <html style="font-size: 10px;font-family: Roboto, Arial, sans-serif;" lang="en-US" dir="ltr" gl="US">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap" rel="stylesheet">

  <%# CSS reset
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/application.css" type="text/css"> %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
